{{> header}}
{{>navbar}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pintor</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
<header id="header">
    <h2><b>Rembrandt Harmenszoon van Rijn</b></h2>
</header>
<br>
<main id="main">
    <hr>

    <img src="https://www.todocuadros.es/imagenes/artistas/rembrandt-autorretrato.jpg" alt="" width="400px" height="400px">
    <p>Rembrandt Harmenszoon van Rijn, más conocido simplemente como Rembrandt, fue un pintor y grabador neerlandés. La historia del arte lo considera uno de los mayores maestros barrocos de la pintura y el grabado, siendo con seguridad el artista más importante de la historia de los Países Bajos.</p>
    <hr>

    <br>
    <h1>La ronda de noche</h1>
    <img src="https://estaticos.muyhistoria.es/uploads/images/gallery/589086d45bafe8b4c58b4567/rembrandt-ronda.jpg" alt="" width="400px" height="400px">
    <p>La ronda de noche o La ronda nocturna es el nombre por el que se conoce comúnmente una de las más famosas obras maestras del pintor neerlandés Rembrandt, pintada entre 1640 y 1642. Este cuadro es una de las joyas de la exposición permanente del Rijksmuseum de Ámsterdam, pinacoteca especializada en arte neerlandés.</p>
    <hr>
    <h1>El retorno del hijo pródigo</h1>
    <img src="https://i.pinimg.com/originals/70/c3/43/70c343d09b9bd40bdcced549fdf99e33.jpg" alt="" width="400px" height="350px">
    <p>El hijo pródigo es una obra del pintor holandés Rembrandt. Está realizado en óleo sobre tela, y fue pintado hacia el año 1662. Mide 262 cm de alto y 205 cm de ancho. Se exhibe actualmente en el Museo del Ermitage de San Petersburgo. El cuadro se inspira en la parábola del hijo pródigo contenida en la Biblia.</p>
    <hr>
    <h1>La novia judía</h1>
    <img src="https://merreader.emol.cl/2019/01/06/content/pages/img/mid/2H3HD6DK.jpg" alt="" width="400px">
    <p>La novia judía es una obra del pintor holandés Rembrandt pintada en 1666. Está expuesta de forma permanente en el Rijksmuseum de Ámsterdam.</p>
    <hr>
    <h1>Dánae</h1>
    <img src="https://www.artehistoria.com/sites/default/files/styles/full_horizontal/public/imagenobra/RED00157.jpg?itok=uO--RlWa" alt="" width="400px" height="300px">
    <p>Dánae, del pintor Rembrandt, es una pintura al óleo sobre lienzo realizada en 1636. Es una de las nueve obras del autor neerlandés que conservan en el Museo del Hermitage de San Petersburgo​ y está firmada y fechada así: "Remb F 1 6."</p>
    <hr>
    <h1>Los síndicos de los pañeros</h1>
    <img src="https://charlarte.com/wp-content/uploads/2019/07/rwmbrandt-1-1024x692.jpg" alt="" width="400px" height="400px">
    <p>Los síndicos de los pañeros es un cuadro del pintor neerlandés Rembrandt. Fue ejecutado en 1662. Se trata de una pintura al óleo sobre lienzo, que mide 191,5 centímetros de alto y 279 cm de ancho. Se conserva en el Rijksmuseum de Ámsterdam. La obra está firmada y datada: REMBRANDT F. 1661.</p>
    <hr>
    <br>
    <nav>
        <a href="http://localhost:3002">index</a>

    </nav>
</main>
{{> footer}}