{{> header}}
{{>navbar}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pintor</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
<header id="header">
    <h2><b>Van Gogh</b></h2>
</header>
<br>
<main id="main">
    <hr>

    <img src="https://i0.wp.com/www.lja.mx/wp-content/uploads/2019/03/Captura-de-pantalla-2019-03-29-a-las-23.12.22.png?fit=539%2C386&ssl=1" alt="" width="350px" height="300px">
    <p>Vincent Willem van Gogh fue un pintor neerlandés, uno de los principales exponentes del postimpresionismo.​Pintó unos 900 cuadros y realizó más de 1600 dibujos. Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó apoyo financiero de manera continua y desinteresada.</p>
    <hr>

    <br>
    <h1>La noche estrellada</h1>
    <img src="https://i.pinimg.com/originals/9e/c0/fd/9ec0fd7651324907d40f275249c3b92e.jpg" alt="Violencia" width="400px" height="400px">
    <p>La noche estrellada es la obra maestra del pintor postimpresionista Vincent Van Gogh. El cuadro lo realizó en el sanatorio de Saint-Rémy-de-Provence, donde se recluyó hacia el final de su vida, a mediados de 1889, trece meses antes de su muerte. Van Gogh usó óleo humedecido y pinceles finos para realizar la obra.</p>
    <hr>
    <h1>Autorretrato</h1>
    <img src="https://lh3.googleusercontent.com/proxy/f8OrlSnIbDx_6kkAaorEs_hmirpkiZKu4xLQmodZg3kNo7UlOeL4Il2hK7izA9cM2p1432FcGsrnKAtSmYHRH4DsIBM0Zx6t9LJolTlnRpFTWof5C69V7zFc_8__76qDqhgkPPA9l5zafTf1KrXTXMCCTAcDf9C1FSMs-lt7_w" alt="" width="400px" height="400px">
    <p>El autorretrato de 1889 es un óleo sobre lienzo pintado por el artista postimpresionista Vincent van Gogh. El cuadro, que podría ser el último autorretrato de van Gogh y es el más conocido del artista, fue pintado en septiembre de ese año, poco antes de dejar Saint-Rémy-de-Provence en el sureste de Francia.​​​</p>
    <hr>
    <h1>Terraza de café por la noche</h1>
    <img src="https://www.slobidka.com/images/vangogh/Van_Gogh-16.jpg" alt="" width="400px" height="400px">
    <p>Terraza de café por la noche es una pintura del neerlandés Vincent van Gogh realizada en Arlés en septiembre de 1888 representando el ambiente de una terraza. En esta pintura Van Gogh expresó sus nuevas impresiones de Francia meridional.</p>
    <hr>
    <h1>Los comedores de patatas</h1>
    <img src="https://www.ecured.cu/images/f/f0/Comedores_de_papas.jpg" alt="" width="400px" height="300px">
    <p>Los comedores de patatas es un cuadro del pintor Vincent van Gogh, que creó en abril de 1885 mientras residía en Nuenen, Países Bajos. Se encuentra en el Museo Van Gogh de Ámsterdam. La versión que se encuentra en el Museo Kröller-Müller de la ciudad de Otterlo es un bosquejo preliminar en óleo.</p>
    <hr>
    <h1>Lirios</h1>
    <img src="https://tuiteartees.files.wordpress.com/2015/04/lirios-de-van-gogh.jpg?w=1024" alt="" width="400px" height="400px">
    <p>Los lirios es un cuadro al óleo sobre lienzo realizado en mayo de 1889 por Vincent Van Gogh. Es una de las muchas pinturas y grabados de lirios creadas a lo largo de su vida. En 1987 fue vendido por 53.900.000 dólares, la cifra más alta jamás pagada por un cuadro.</p>
    <hr>
    <br>
    <nav>
        <a href="http://localhost:3002/vinci"> Da Vinci</a>

    </nav>
</main>
{{> footer}}
