{{> header}}
{{>navbar}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pintor</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
<header id="header">
    <h2><b>Leonardo da Vinci</b></h2>
</header>
<br>
<main id="main">
    <hr>

    <img src="https://www.biography.com/.image/t_share/MTY2MzU4MjUzMDA4MDcwMzE4/portrait-of-leonardo-da-vinci-1452-1519-getty.jpg" alt="" width="400px" height="400px">
    <p>Leonardo da Vinci fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, paleontólogo, ​ artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, poeta y urbanista.</p>
    <hr>

    <br>
    <h1>La Gioconda</h1>
    <img src="https://2.bp.blogspot.com/-Lr95inkFVcw/Vx-T6xX6eYI/AAAAAAAAVw8/94TzYdI7m-0mXeWT3vS5AEU06iIJz8krACLcB/s1600/Mona-Lisa.jpg" alt="" width="400px" height="400px">
    <p>El Retrato de Lisa Gherardini, esposa de Francesco del Giocondo, ​más conocido como La Gioconda o La Mona Lisa, es una obra pictórica del polímata renacentista italiano Leonardo da Vinci. Fue adquirida por el rey Francisco I de Francia a comienzos del siglo XVI y desde entonces es propiedad del Estado Francés.</p>
    <hr>
    <h1>La última cena</h1>
    <img src="https://www.infobae.com/new-resizer/38DnRD1ooSKnWLsrjNiQZNnAyZc=/750x0/filters:quality(100)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/LPNC2JK3AJDWLF64D4XV7JX2PY" alt="" width="400px" height="350px">
    <p>La última cena es una pintura mural original de Leonardo da Vinci ejecutada entre 1495 y 1498.​​ Se encuentra en la pared sobre la que se pintó originariamente, en el refectorio del convento dominico de Santa Maria delle Grazie, en Milán, ​ declarado Patrimonio de la Humanidad por la Unesco en 1980.​</p>
    <hr>
    <h1>Hombre de Vitruvio</h1>
    <img src="https://sobrehistoria.com/wp-content/uploads/2018/01/hombre-de-vitruvio-tridimensional-600x618.jpg" alt="" width="400px">
    <p>El Hombre de Vitruvio o Estudio de las proporciones ideales del cuerpo humano es un famoso dibujo acompañado de notas anatómicas de Leonardo da Vinci realizado alrededor de 1490 en uno de sus diarios.</p>
    <hr>
    <h1>Salvator Mundi</h1>
    <img src="https://images-na.ssl-images-amazon.com/images/I/613iCZmm9IL._SL1500_.jpg" alt="" width="400px" height="300px">
    <p>Salvator Mundi​ es una pintura de Cristo como Salvator Mundi de Leonardo da Vinci, datada en torno al año 1500.</p>
    <hr>
    <h1>La dama del armiño</h1>
    <img src="https://www.lavanguardia.com/r/GODO/LV/p0/WebSite/2019/06/19/Recortada/leonardo-da-vinci-y-la-dama-del-armino-1-992x558@LaVanguardia-Web.jpeg" alt="">
    <p>La dama del armiño es un cuadro del pintor renacentista italiano Leonardo da Vinci, realizado hacia 1490.​ La modelo ha sido identificada con Cecilia Gallerani, retratada cuando era la amante de Ludovico Sforza, duque de Milán y cuando Leonardo estaba a su servicio.</p>
    <hr>
    <br>
    <nav>
        <a href="http://localhost:3002/rembrant">Rembrandt Harmenszoon van Rijn</a>

    </nav>
</main>
{{> footer}}